#pay{
    margin-bottom:80px; 
    width: 100%;
}
#pay .block{
    width: 400px;
    margin: 0 auto;
}
#pay .block div{
    width: 100%;
    margin: 10px 0;
}
#pay .block div p{
    font-size: 15px;
    text-align: center; 
}
#pay .block div .money{
    font-size: 30px;
    font-weight: bold;
    color: red;
}
#pay .block div img{
    margin-left: 105px;
}
#pay .block div button{
    width: 150px;
    height: 50px;
    margin-top: 10px;
    margin-left: 130px;
    background-color: rgb(139, 126, 226);
    border-top: 2px solid rgb(139, 126, 226);
    font-size: 22px;
    font-weight: bold;
    color: #ffffff;
}